/* Carousel */
.carousel img {
  height: 85vh;
}

/* Cards */
.card img {
    max-height: 375px;
}

.appear {
    display: none;
}

/* Small media */
@media (max-width: 575px) {
    .disappear {
        display: none;
    }
    .appear{
        display: initial;
    }
}