img {
  height: 85vh;
}


.content {
    padding-top: 80px; padding-left: 50px; padding-right: 50px; 
    color: rgb(3, 187, 187);
}

.me {
    padding: 10px;
    background-color: rgb(57, 57, 57);
    border-radius: 10px;
    font-size: x-large;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

/* img {
    max-height: 400px;
    max-width: 50vw;
} */

