img {
  height: 85vh;
}

.appear {
    display: none;
}


@media (max-width: 575px) {
    .disappear {
        display: none;
    }
    .appear{
        display: initial;
    }
}

.me {
    padding: 10px;
    background-color: rgb(57, 57, 57);
    border-radius: 10px;
    font-size: smaller;
}

.card img {
    max-height: 375px;
}


