body {
    background-color: rgb(6, 6, 6);
    color: white;
    margin: 0px;
    overflow:hidden;
}

.header{
    background-color: rgb(56, 60, 61);
    display: flex;
    width: 100vw;
    margin:0px;
    padding:5px;
    justify-content:space-evenly;
}

.basic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    width:50vw;
}

.links{
    display: flex;
    width:50vw;
    justify-content:space-around;
}
a {
    color: white;
    text-decoration: none;
}
 a:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}
 a > h4{
    padding-right:10px;
    padding-left:10px;
 }

.content {
    /* position:relative;
    top: 50px; */
    margin:0px
}
.content > img{
    width: 50vw;
    height: 100vh;
    float: right;
}




.info {
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;;
    
}

.info img{
    width: 48vw;
    height: 100vh;
}

.middle {
    position:absolute;
    top: 45vh;
    left:14.5vw
}
