body {
    background-color: rgb(6, 6, 6);
    color: white;
    margin: 0px;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: rgb(56, 60, 61);
    display: flex;
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100vw;
    padding: 5px;
    align-items: center;
}

.basic {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    width: 50vw;
}

.links{
    display: flex;
    width: 50vw;
    justify-content:space-around;
}
.header a {
    color: white;
    text-decoration: none;
}
 .header a:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}
 .header a > h4{
    padding-right: 10px;
    padding-left: 10px;
 }

.content {
    padding-top: 70px;
    margin: 0px
}
.content > img{
    width: 50vw;
    height: 100vh;
    float: right;
}

.info {
    width: 48.5vw;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.info img{
    width: 45vw;
    height: 90vh;
}

.middle {
    position: absolute;
    top: 45vh;
    left: 13vw
}

.contact {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 50px;
 }
 
 .contact img {
    max-height: 33%;
 }

 .contact a {
    color: rgb(194, 0, 194);
 }
 
 .phone {
    text-align: center;
    grid-column: 1;
 }

 .mail {
    text-align: center;
    grid-column: 2;
 }

 .UTR {
    text-align: center;
    grid-column: 3;
 }