body {
    background-color: rgb(6, 6, 6);
    color: white;
    margin: 0px;
    overflow:hidden;
}
a{
    color: white;
}
a:hover {
    background-color: gray;
}
.content {
    /* position:relative;
    top: 50px; */
    margin:0px
}
.content > img{
    width: 50vw;
    height: 100vh;
    float: right;
}


.header{
    background-color: rgb(56, 60, 61);
    display: flex;
    width: 100vw;
    margin:0px;
    justify-content:space-evenly;
}

.info {
    width: 50vw;
    text-align: center;
    
}

.info img{
    position:relative;
    top:30px;
    width: 48vw;
    height: 100vh;
}

.middle {
    position:absolute;
    top: 40vh;
    left: 20vw;
}

.basic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    width:50vw;
}

.links{
    display: flex;
    width:50vw;
    justify-content:space-around;
}